
header{
	border-top: 4px solid #4a4846;
    margin-bottom: ;
}
.header-inr{
    padding: x;
}
.header-left{
    float: left;
    width: 35%;
    padding-top: 17px;
}
.hdr-rgt{
    float: right;
    width: 65%;
    padding-right: 8px;
}
.header-logo a{
    max-width:447px;
    display: inline-block;
    vertical-align: baseline;
}
.header-logo a img{
    width: 100%;
}


.hdr-rgt-addr{
    padding-top: 7px;
    margin-bottom: 25px;
}
.hdr-rgt-addr a{
	display: inline-block;
	vertical-align: baseline;
	margin-left: 27px;
	color: inherit;
}
.hdr-rgt-addr a img{
	padding-right: 8px;
}


.hdr-main-menu-controlar{
	padding: 18px 0;
}
nav.main-nav{
    float: right;
    padding: 0 0px 0 0;
}
nav.main-nav ul{
    font-size: 13px;
}
nav.main-nav ul li,
nav.main-nav > ul > li > a{
    display: inline-block;
    vertical-align: baseline;
}
nav.main-nav > ul > li{
    padding: 0 14px;
    position: relative;
}
nav.main-nav > ul > li:last-child{
    padding-right: 0;
}
nav.main-nav > ul > li:first-child{
    padding-left: 0;
}
nav.main-nav > ul > li > a{
    color: #4c4c4c;
    position: relative;
    padding-bottom: 3px;
    display: inline-block;
    vertical-align: baseline;
}
nav.main-nav > ul > li > a:after{
    border-bottom: 3px solid #1467c1;
    content: "";
    display: block;
    height: 3px;
    left: -1px;
    position: absolute;
    top: 100%;
    transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform-origin: center center 0;
    transition: all 0.15s ease-out 0s;
    width: 100%;
}
nav.main-nav > ul > li > a:hover:after{
    transform: scale(1, 1);
}
nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li > a:hover{
    color:#1467c1;
}

header.banner-header  nav.main-nav ul li a{
    /*color: #fff;*/
}


/*------responsive menu---------*/

.mmenu-opener{
    height: 20px;
    width: 24px;
    position: relative;
    float: right;
    display: none;
    overflow: hidden;
}
.mmenu-opener span{
    height: 2px;
    width: 100%;
    position: absolute;
    color: #002955;
    background: #002955;
    transition: all 0.3s;
}
.mmenu-opener span:first-child{
    top: 0;
    left: 0;
    right: 0;
}
.mmenu-opener span:nth-child(2){
    top: 7px;
    left: 0;
    right: 0;
}
.mmenu-opener span:nth-child(3){
    top: 14px;
    left: 0;
    right: 0;
}
.mmenu-opener.thisopened span:first-child {
    transform: rotate(-45deg);
    top: 9px;
}
.mmenu-opener.thisopened span:nth-child(2){
    left: -100%;
}
.mmenu-opener.thisopened span:nth-child(3) {
    transform: rotate(45deg);
    top: 9px;
}
.mmenu-opener.main-nav-opener{
    display: none;
}







































