
header{
	border-top: 4px solid #4a4846;
    margin-bottom: ;
}
.header-top{
    padding: ;
}
.header-left{
    float: left;
    width: 35%;
    padding-top: 14px;
}
.hdr-rgt{
    float: right;
    width: 65%;
    padding-right: 8px;
}
.header-logo a{
    max-width:447px;
    display: inline-block;
    vertical-align: baseline;
}
.header-logo a img{
    width: 100%;
}
.hdr-rgt-addr{
    margin-bottom: 27px;
}
.hdr-rgt-addr a{
	display: inline-block;
	vertical-align: middle;
	margin-left: 27px;
	color: inherit;
	font-size: 17px;
}
.hdr-rgt-addr a:hover{
    color: #0e72b5;
}
.hdr-rgt-addr a img{
	padding-right: 8px;
}
.hdr-main-menu-controlar{
	padding: 20px 0;
}
nav.main-nav{
    float: right;
}
nav.main-nav ul{
    font-size: 13px;
}
nav.main-nav ul li,
nav.main-nav > ul > li > a{
    display: inline-block;
    vertical-align: baseline;
}
nav.main-nav > ul > li{
    padding: 0 14px;
    position: relative;
}
nav.main-nav > ul > li:after{
    content: "";
    height: 9px;
    width: 1px;
    background:#737274 ;
    position: absolute;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
nav.main-nav > ul > li:last-child:after{
    content: none;
}
nav.main-nav > ul > li:last-child{
    padding-right: 0;
}
nav.main-nav > ul > li:first-child{
    padding-left: 0;
}
nav.main-nav > ul > li > a{
    color: #4c4c4c;
    position: relative;
    padding-bottom: 3px;
    display: inline-block;
    vertical-align: baseline;
}
nav.main-nav > ul > li > a:after{
    border-bottom: 3px solid #0e72b5;
    content: "";
    display: block;
    height: 3px;
    left: -1px;
    position: absolute;
    top: 100%;
    transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform-origin: center center 0;
    transition: all 0.15s ease-out 0s;
    width: 100%;
}
nav.main-nav > ul > li > a:hover:after{
    transform: scale(1, 1);
}
nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li > a:hover{
    color:#0e72b5;
}

header.banner-header  nav.main-nav ul li a{
    /*color: #fff;*/
}


/*------responsive menu---------*/

.mmenu-opener{
    height: 20px;
    width: 24px;
    position: relative;
    float: right;
    display: none;
    overflow: hidden;
}
.mmenu-opener span{
    height: 2px;
    width: 100%;
    position: absolute;
    color: #002955;
    background: #002955;
    transition: all 0.3s;
}
.mmenu-opener span:first-child{
    top: 0;
    left: 0;
    right: 0;
}
.mmenu-opener span:nth-child(2){
    top: 7px;
    left: 0;
    right: 0;
}
.mmenu-opener span:nth-child(3){
    top: 14px;
    left: 0;
    right: 0;
}
.mmenu-opener.thisopened span:first-child {
    transform: rotate(-45deg);
    top: 9px;
}
.mmenu-opener.thisopened span:nth-child(2){
    left: -100%;
}
.mmenu-opener.thisopened span:nth-child(3) {
    transform: rotate(45deg);
    top: 9px;
}
.mmenu-opener.main-nav-opener{
    display: none;
}


.hdr-btm-links{
	background: #eeeeee;
}
.hdr-btm-links li{
	float: left;
	margin-right: 10px;
} 
.hdr-btm-links li a{
	display: inline-block;
	vertical-align: baseline;
	padding: 2px 5px 5px 5px;
	border: 2px solid #0e72b5;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight:500 ;
	font-size: 22.3px;
	text-transform: uppercase;
	background: #0e72b5;
}
.hdr-btm-links li a:hover{
	color: #0e72b5;
	background: #fff;
}
.hdr-btm-bq{
	background: #4a4846;
}
.hdr-btm-bq-innr{
	padding-bottom: 4px;	
}
.hdr-btm-bq a {
	display: inline-block;
	vertical-align: baseline;
	padding-right:10px;
	position: relative;
	font-weight: 400;
	color: #fff; 
	font-size: 10px;
	line-height: 12px;
}
.hdr-btm-bq a:hover {
	color: #0e72b5;
}
.hdr-btm-bq a:after {
	content: '>';
	position: absolute;
	right: 0;
	top: 0;
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.hdr-btm-bq a:hover:after {
	right: -5px;
}






/* Sub menu */

nav.main-nav li.menu-item-has-children > ul.sub-menu {
    position: absolute;
    top: 100%;
    background: #fff;
    width: 190px;
    left: 0;
    z-index: 999999;
    padding: 28px 22px 28px;
    top: 100%;
    transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    visibility: hidden;
    opacity: 0;
    margin-top: 0;
}

nav.main-nav li.menu-item-has-children:hover > ul.sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 9;
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition-delay: 0s, 0s, 0.3s;
    -ms-transition-delay: 0s, 0s, 0.3s;
    transition-delay: 0s, 0s, 0.3s;
}

nav.main-nav ul li.menu-item-has-children ul li a{
    display: block;
    color: inherit;
    padding: 5px 0;
}

nav.main-nav ul li.menu-item-has-children ul{
    padding: 10px 15px;
}
nav.main-nav ul li.menu-item-has-children ul li{
    padding: 0 0 10px 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
nav.main-nav ul li.menu-item-has-children ul li:last-child{
    padding-bottom: 0;
}
nav.main-nav li.menu-item-has-children ul.sub-menu{
    list-style: none;
}
nav.main-nav li.menu-item-has-children ul.sub-menu a {
    padding: 2px 0;
    font-size: 15px;
    line-height: 17px;
    transition: none;
    color: #000;
    text-decoration: none;
    text-align: left;
    font-weight: 600;
    position: relative;
}
nav.main-nav li.menu-item-has-children ul.sub-menu a i{
    padding-right: 15px;
}
nav.main-nav li.menu-item-has-children ul.sub-menu a:hover{
    color:#153d6d;
}
nav.main-nav ul li.menu-item-has-children ul li:last-child{
    margin-bottom: 0;
}
























