





.product-des-tow-part{
	padding: 30px 0 22px;
}
.product-des-controller h1{
	font-size: 39.14px;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.product-des-controller{
	font-size: 19.52px;
}
.product-des-controller p{
	font-size: 19.52px;
	margin-bottom: 20px;
}
.product-des-controller hr{
	border: 0;
	border-top: 19px solid #eee;
	margin-top: 15px;
	margin-bottom: 15px;
}
.product-des-left{
	padding-top: 30px;
}
.product-des-right img{
	margin-left: -57px;
}


.product-table-con{
	padding: 20px 0 30px;
    margin-left: -6px;
    margin-right: -6px;
}
.product-des-controller table {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 32.49px;
    width: 100%;
    border-collapse: collapse;
	text-transform: uppercase;
}
.product-des-controller table tr,
.product-des-controller table td{
	border: 6px solid #fff;
	background-color: #eee;

}
.product-des-controller table td{
	width: 50%;
	padding: 22px 25px;
}













































































































































































