

.ftr-main-wrp{
	background-image: url('../images/ftr-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 25px 0 35px;
}
.ftr-col{
	float: left;
	padding-right: 15px;
	margin-bottom: 30px;
}
.ftr-col:last-child{
	padding-right: 0;
} 
.ftr-col-1{
	width: 18.60%;
}
.ftr-col-2{
	width: 	15.54%;
}
.ftr-col-3{
	width: 18.05%;
}
.ftr-col-4{
	width: 18.60%;
}
.ftr-col-5{
	width: 29.21%;
}
.ftr-col:nth-child(5n+1){
	clear: left;
}	
.ftr-col li a{
	color: #fff;
	font-size: 16.32px
}
	
.ftr-col li a:hover{
	color: #c5c5c5;
}
.ftr-col h4{
	margin-bottom: 17px;
	font-weight: 500;
}
.ftr-col-5{
	width: 29.21%;
}
.ftr-col.ftr-col-5 li:nth-child(1){
	width: 	57%;
	float: left;
	padding-right: 10px;
}
.ftr-col.ftr-col-5 li:nth-child(2){
	width: 	43%;
	float: left;
}
.ftr-col.ftr-col-5 li:nth-child(3){
	width: 100%;
	float: left;
}
.ftr-col.ftr-col-5 li span{
	display: block;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 12.5px;
	line-height: 13px;
	text-transform: uppercase;
	position: relative;
	padding-left: 18px;
}
.ftr-col.ftr-col-5 li img{
	padding-right: 7px;
	position: absolute;
	top: 1px;
	left: 0;
}
.ftr-btm-wrp{
	background: #4a4846;
}
.ftr-btm-innr{
	padding: 10px 10px 15px 0; 
	color: #9e9e9e;
	font-size: 15.66px;
}
.ftr-btm-lft{
	width: 42.69%;
	float: left;
}
.ftr-btm-rgt{
	width: 57.31%;
	float: left;
	padding-left: 15px;
}
.ftr-btm-rgt li{
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	padding-left: 45px;
	padding-right: 45px;
}
.ftr-btm-rgt li:first-child{
	padding-left: 0;
}
.ftr-btm-rgt li:last-child{
	padding-right: 0;
}
.ftr-btm-rgt li:after{
	content: "";
	position: absolute;
	right: 0;
	top: 6px;
	width: 1px;
	height: 16px;
	background: #999999;
}
.ftr-btm-rgt li:last-child:after{
	content: none;
}
.ftr-btm-rgt a{
	color: #9e9e9e;
	display: inline-block;
	vertical-align: baseline;
}
.ftr-btm-rgt a:hover{
	color: #f8f8f8;
}












@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.ftr-col-1 {
	    width: 15%;
	}
	.ftr-col-2 {
	    width: 13%;
	}
	.ftr-col-3 {
	    width: 14%;
	}
	.ftr-col-4 {
	    width: 20%;
	}
	.ftr-col-5 {
	    width: 38%;
	}
	.ftr-btm-rgt li {
	    padding-left: 30px;
	    padding-right: 30px;
	}

}

@media(max-width: 1199px){
	.ftr-btm-innr {
	    padding: 10px 0 15px;
	}
	.ftr-btm-rgt li {
	    padding-left: 22px;
	    padding-right: 22px;
	}
}

@media(max-width: 991px){
	.ftr-col-1 {
	    width: 33.333%;
	}
	.ftr-col-2 {
	    width: 33.333%;
	}
	.ftr-col-3 {
	    width: 33.333%;
	}
	.ftr-col-4 {
	    width: 33.5%;
	}
	.ftr-col-5 {
	    width: 66.5%;
	}
	.ftr-col:nth-child(5n+1){
		clear: initial;
	}	
	.ftr-col:nth-child(3n+1){
		clear: left;
	}
	.ftr-col h4 {
	    margin-bottom: 15px;
	    font-weight: 500;
	}
	.ftr-btm-lft,.ftr-btm-rgt {
	    width: 100%;
	    text-align: center;
	    padding-left: 0;
	}
	.ftr-btm-rgt ul{
		text-align: center!important;
		margin-top: 10px;
	}
}

@media(max-width: 767px){
	.ftr-col-4 {
	    width: 34%;
	}
	.ftr-col-5 {
	    width: 66%;
	}
}

@media(max-width: 575px){
	.ftr-col{
	    display: none;
	}
	.ftr-col.ftr-col-5 {
		display: block;
	    width: 100%;
	    margin-bottom: 0;
	}
	.ftr-main-wrp{
		background-image: url('../images/ftr-bg-xs.jpg');
		background-repeat: no-repeat;
		padding: 27px 0 32px;	
	}
	.ftr-btm-wrp-xs{
		background: #fff;
	}
	.ftr-btm-innr-xs {
		padding: 28px 0;
	}
	.ftr-btm-lft-xs{
		float: left;
		width: 80%;
		padding-right: 10px;
	}
	.ftr-btm-lft-xs span{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #000;
		font-size: 12px;
	}	
	.ftr-btm-rgt-xs{
		float: left;
		width: 20%;
		text-align: right;
	}
	.ftr-btm-rgt-xs a{
		display: inline-block;
		vertical-align: baseline;
		max-width: 96px;
	}
	.ftr-btm-rgt a img{
		width: 100%;
	}
}

@media(max-width: 479px){
	.ftr-col.ftr-col-5 li:nth-child(1),
	.ftr-col.ftr-col-5 li:nth-child(2) {
	    width: 50%;
	}
	.ftr-btm-rgt li {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.ftr-btm-innr-xs {
	    padding: 20px 0;
	}
}

@media(max-width: 359px){
	.ftr-col.ftr-col-5 li:nth-child(1),
	.ftr-col.ftr-col-5 li:nth-child(2),
	.ftr-col.ftr-col-5 li:nth-child(3) {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.ftr-btm-lft-xs span {
	    font-size: 10px;
	}
}


























