

/*
-----------------
Start sitemap
-----------------
*/
.sitemap{
  max-width: 800px;
  margin: 0 auto;
  padding:60px 0;
}
.sitemap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitemap ul ul {
  margin-left: 30px;
  padding-top: 12px;
}

.sitemap ul li {
  padding: 10px 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.sitemap ul li a {
  display: inline-block;
  vertical-align: baseline;
  text-transform: uppercase;
  color: #4a4846;
  position: relative;
  transition: .5s;
  -ms-transition: .5s;
  -webkit-transition: .5s;
}
.sitemap ul li a:focus{
  text-decoration: underline;
}
.sitemap ul li a:hover{
  color: #0056b3;
}
.sitemap h2 {
  color: #0056b3;
  margin: 0;
  padding-bottom: 30px;
}