
.product-des-tow-part{
	padding: 26px 0 22px;
}
.product-des-controller h1{
	font-size: 38px;
	margin-bottom: 22px;
	text-transform: uppercase;
}
.product-des-controller {
    font-size: 19.52px;
    padding-top: 20px;
}
.product-des-controller p{
	font-size: 19.52px;
	margin-bottom: 20px;
	padding-right: 90px;
}
.product-des-controller ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-des-controller li{
	position: relative;
	padding-left: 15px;
	margin-bottom: 3px;
}
.product-des-controller li:after{
	content: '>';
	position: absolute;
	left: 0;
	top: 0;
}
.cat-controller.product-des-controller li:after{
	content: none !important;
}

.product-des-controller.product-des-controller li.product{
	width: 100% !important;
	position: relative;
	padding-left: 0;
    border: 10px solid #eee;
    border-top: 0;
    margin-bottom: 35px !important;
}
.product-des-controller hr{
	border: 0;
	border-top: 19px solid #eee;
	margin-top: 15px;
	margin-bottom: 15px;
}
.product-des-left{
	padding-top: 30px;
	padding-left: 15px;
	width: 50%;
}
.product-des-right {
	width: 50%;
}
.product-des-right img,
.product-main-img img{
	margin-left: -57px;
}
.product-table-con{
	padding: 20px 0 30px;
    margin-left: -6px;
    margin-right: -6px;
    overflow-x: auto;
}
.product-des-controller table {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 32px;
    width: 100%;
    border-collapse: collapse;
}
.product-des-controller table td{
	border: 6px solid #fff;
	background-color: #eee;
}
.product-des-controller table td{
	width: 50%;
	padding: 22px 25px;
}
.pro-page-dft-blc{
	padding: 35px 0 35px 10px ;
}
.pro-des-qty{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
}
.pro-des-qty .qty-v2 {
	width: 62px;
	height: 38px;
	background-color: #fff;
	position: relative;
	color: #333;
	background-color: #fff;
	border: 1px solid #58b028;
	top: -1px;
}
.pro-des-qty .qty-v2 .plus,
.pro-des-qty .qty-v2 .minus{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 1;
	position: absolute;
    right: 1px;
	z-index: 2;
	color: #45454c;
	background: #dedede;
	text-align: center;
	width: 16px;
	height: 16px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
	user-select: none; 
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.pro-des-qty .qty-v2 .plus:hover,
.pro-des-qty .qty-v2 .minus:hover{
	background: #58b028;
	color: #fff;
}
.pro-des-qty .qty-v2 .plus {
    top: 1px;
}
.pro-des-qty .qty-v2 .minus {
    bottom: 1px;
}
.pro-des-qty .qty-v2 input[type="number"]{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: none;
	background: transparent;
	-moz-appearance:textfield;
	appearance: none;
	font-size: 18px;
	line-height: 19px;
	color: #45454c;
	opacity: 1;
	padding-top: 8px;
	padding-left: 8px;
	text-align:left;
	width: 62px;
}         
.pro-des-qty .qty-v2 input[type=number]::-webkit-inner-spin-button, 
.pro-des-qty .qty-v2 input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    opacity: 0;
}

.pro-des-qty > strong{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	left: -65px;
	top: 45%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: 2px;
}



.woocommerce-error, .woocommerce-info, .woocommerce-message {
    margin: 0 !important;
}


.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    display: none!important;
}

.woocommerce-cart button.button {
    border-left: 8px solid #000!important;
    background: #2354a5 !important;
    color: #fff !important;
    border-radius: 0 !important;
}

.woocommerce-cart .checkout-button.button.alt.wc-forward {
    border-left: 8px solid #000!important;
    background: #58b028 !important;
}
.woocommerce-cart .checkout-button.button.alt.wc-forward:hover {
    border-left: 8px solid #58b028!important;
    background: #000 !important;
}

.woocommerce-form-coupon-toggle {
    display: none !important;
}

.woocommerce-checkout .woocommerce-input-wrapper {
    width: 100%;
}
.woocommerce-checkout .woocommerce form .form-row label {
    font-weight: 500;
}
.woocommerce-checkout .woocommerce-billing-fields input {
    border: 1px solid #aaa;
    height: 36px;
    line-height: 38px;
    border-radius: 4px;
    padding: 0 10px;
}

.woocommerce-checkout #orderreview {
    padding-top: 32px;
    padding-bottom: 30px;
}
.woocommerce-checkout #orderreview .form-row {
    display: inherit !important;
}
.woocommerce-checkout .woocommerce-terms-and-conditions-wrapper {
    display: none;
}
.woocommerce-checkout button.button {
    border-left: 8px solid #000!important;
    background: #2354a5 !important;
    color: #fff !important;
    border-radius: 0 !important;
}
section.custom-page button.button {
    border-left: 8px solid #000!important;
    background: #2354a5 !important;
    color: #fff !important;
    border-radius: 0 !important;
}
.hastable{
	margin-left: -6px;
	margin-right: -6px;
}
.woocommerce-notices-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 30px;	
}
.woocommerce .woocommerce-customer-details address{
	padding-bottom: 10px;
}
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email, 
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone {
    margin-bottom: 5px;
    margin-top: 5px;
}
p.return-to-shop{
	margin: 20px 0;
}
.woocommerce-cart.woocommerce-page .main-content{
	padding-bottom: 30px;
}
@media(max-width: 1499px){

}

@media(max-width: 1399px){
	.product-des-right img {
	    margin-left: 0;
	}
	.product-des-left{
		padding-top: 0;
		padding-right: 15px;
	    padding-left: 0;
	}
	.product-des-controller p{
		padding-right: 0;
	}
}

@media(max-width: 1299px){
.product-des-controller table {
    font-size: 28px;
}
}

@media(max-width: 1199px){
	.product-des-controller p {
	    font-size: 18px;
	}
	.product-des-controller p br{
	    display: none;
	}
	.product-des-controller h1 {
	    font-size: 34px;
	}
	.product-des-controller table {
	    font-size: 24px;
	}
}

@media(max-width: 991px){
	.product-des-controller h1 {
	    font-size: 30px;
	    margin-bottom: 20px;
	}
	.product-des-left{
		padding:0;
		padding-bottom: 25px;
		width: 100%;
	}
	.product-des-right {
		width: 100%;
		text-align: center;
	}
	.product-des-controller table td{
		padding: 16px 10px 16px 15px;
	}
	.product-des-controller table {
	    font-size: 19px;
	}
	.product-main-img img{
		margin-left: 0;
	}

}

@media(max-width: 767px){
	.product-table-con {
	    margin-right: 0;
	    padding: 20px 0;
	}
	.product-des-controller h1 {
	    font-size: 25px;
	    margin-bottom: 17px;
	}
	.product-des-controller table {
	    font-size: 16px;
	}
	
}

@media(max-width: 575px){
	.product-des-controller hr {
	    border-top: 13px solid #eee;
	}
}

@media(max-width: 479px){

}

@media(max-width: 359px){

}

